<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <!-- Blockshop Theme Version 2.1.1 by Troop Digital - http://troop.ws/ -->

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if settings.general-favicon-enabled %}
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | asset_url }}" />
  {% endif %}

  {% if template == 'index' %}
    <title>{{ page_title }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  {% include 'snippet-fb-open-graph-tags' %}

  {% include 'snippet-webfont' %}

  {{ content_for_header }}

  {{ 'style.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 8]>
    {{ 'json2.js' | asset_url | script_tag }}
  <![endif]-->

  <!--[if lt IE 9]>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
  {{ '//html5shim.googlecode.com/svn/trunk/html5.js' | script_tag }}
  {{ 'dd_roundies.js' | asset_url | script_tag }}
  <script>
  DD_roundies.addRule('.circle', '45px');
  </script>
  <![endif]-->

  {{ 'custom.modernizr.js' | asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ 'customer.css' | asset_url | stylesheet_tag }}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <script>
    var twitterID = '{{ settings.twitter_username }}',
    general_external_links_enabled = {{ settings.general-external-links-enabled }},
    general_scroll_to_active_item = {{ settings.general-scroll-to-active-item }},
    shop_url = '{{ shop.url }}',
    shop_money_format = '{{ shop.money_format | strip_html | replace: "'", '"' | strip }}',
    home_slider_auto_enabled = {{ settings.home-slider-auto-enabled }},
    home_slider_rotate_frequency = {{ settings.home-slider-rotate-frequency }},
    home_widget_twitter_enabled = {{ settings.home-widget-twitter }},
    home_widget_blog_enabled = {{ settings.home-widget-blog }},
    home_widget_instagram_client_id = '{{ settings.home-widget-instagram-client-id }}',
    product_zoom_enabled = {{ settings.product-zoom-enabled }},
    product_modal_enabled = {{ settings.product-modal-enabled }};
  </script>

  {{ 'bespoke.css' | asset_url | stylesheet_tag }}

</head>


<body class="page-{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | remove: '/' | remove: '_' }}{% if template == 'index' and settings.home-transparent-menu %} transparent-menu{% endif %}">

  <header class="main-header">

    {% if template != "index" %}

    <div class="bespoke-logo">

      <h1 class="title clearfix" role="banner">

        {% if settings.header-logo-show %}

        <a href="/" role="banner" title="{{ shop.name }}">

          <img src="{{ 'logo.png' | asset_url }}" data-retina="{{ 'logo-retina.png' | asset_url }}" alt="{{ shop.name }}">

        </a>

        {% else %}

        <a href="/">

          {{ shop.name }}

        </a>

        {% endif %}

      </h1>

    </div>

    {% endif %}

    <div class="bespoke-social">

    {% if settings.footer-facebook-follow-url.size > 0 %}<a title="Facebook" aria-hidden="true" target="_blank" class="glyph facebook" href="{{ settings.footer-facebook-follow-url }}"></a>{% endif %}
            {% if settings.footer-twitter-follow-url.size > 0 %}<a title="Twitter" aria-hidden="true" target="_blank" class="glyph twitter" href="{{ settings.footer-twitter-follow-url }}"></a>{% endif %}
            {% if settings.footer-instagram-follow-url.size > 0 %}<a title="Instagram" aria-hidden="true" target="_blank" class="glyph instagram" href="{{ settings.footer-instagram-follow-url }}"></a>{% endif %}
            {% if settings.footer-pinterest-follow-url.size > 0 %}<a title="Pinterest" aria-hidden="true" target="_blank" class="glyph pinterest" href="{{ settings.footer-pinterest-follow-url }}"></a>{% endif %}
            {% if settings.footer-tumblr-follow-url.size > 0 %}<a title="Tumblr" aria-hidden="true" target="_blank" class="glyph tumblr" href="{{ settings.footer-tumblr-follow-url }}"></a>{% endif %}
            {% if settings.footer-vimeo-follow-url.size > 0 %}<a title="Vimeo" aria-hidden="true" target="_blank" class="glyph vimeo" href="{{ settings.footer-vimeo-follow-url }}"></a>{% endif %}
            {% if settings.footer-youtube-follow-url.size > 0 %}<a title="Youtube" aria-hidden="true" target="_blank" class="glyph youtube" href="{{ settings.footer-youtube-follow-url }}"></a>{% endif %}
            {% if settings.footer-google-plus-follow-url.size > 0 %}<a title="Google Plus" aria-hidden="true" target="_blank" class="glyph googleplus" href="{{ settings.footer-google-plus-follow-url }}"></a>{% endif %}

            {% if settings.footer-rss-follow-url.size > 0 %}<a title="RSS" aria-hidden="true" target="_blank" class="glyph feed" href="{{ settings.footer-rss-follow-url }}"></a>{% endif %}

      <a title="search" class="glyph search" href="/search"></a>

    </div>

    <div class="bg"></div>
    <div class="row top">
      <div class="columns{% if settings.header-logo-center %} logo-center{% endif %}">
        {% include 'snippet-store-title' %}
      </div>

      <div class="search-account columns">
        {% include 'snippet-searchbar-account' %}
      </div>

    </div><!-- .row -->

    <div class="bottom-row">
      <div class="row">
        <div class="columns menu-container{% if settings.header-menu-center %} text-center{% endif %}">
          {% include 'snippet-main-menu' %}
        </div>

        <div class="columns cart-container">
          {% include 'snippet-cart' %}
        </div>

        <div class="mobile-tools">
          <a class="glyph menu" href=""></a>
          {% if settings.header-search-show %}
          <a href="/search" class="glyph search"></a>
          {% endif %}
          {% if settings.header-account-show and shop.customer_accounts_enabled %}
          <a href="/account" class="glyph account"></a>
          {% endif %}
          <a href="/cart" class="glyph cart"></a>

        </div>
      </div>
    </div>

    <div class="main-menu-dropdown-panel">
      <div class="row{% if settings.header-menu-center %} text-center{% endif %}">

      </div>
    </div>

    <div class="mobile-menu">
      {% include 'snippet-mobile-menu' %}
    </div>

    <div class="row">
      <div class="header-divider"></div>
    </div>

  </header>

  <section class="main-content">

      {{ content_for_layout }}
  </section>

  <footer class="main-footer">

    <div class="row bottom">
      <div class="column-1 large-4 columns">
        <h2 class="title">{{ settings.footer-block-1-title }}</h2>
        <div class="content">
          <p class="text">{{ settings.footer-block-1-text | newline_to_br }}</p>
          <div class="powered-by">{{ powered_by_link }}</div>
        </div>

      </div>
      <div class="column-2 large-4 columns">
        <h2 class="title">{{ settings.footer-block-2-title }}</h2>

        <div class="content">
          {% if linklists[settings.footer-block-2-linklist].links.size > 0 %}
            {% assign footer_nav = settings.footer-block-2-linklist %}

            <ul class="footer-nav plain-list" role="navigation">
            {% for link in linklists[footer_nav].links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>


      <div class="column-3 large-4 columns">
        {% if settings.footer-mailing-list-show %}
          {% assign newsletter_title = 'layout.footer.newsletter_title' | t %}
          {% if newsletter_title.size > 0 %}
            <h2 class="title">{{ newsletter_title }}</h2>
          {% endif %}

          <div class="content" id="mailing-list-module">
            {% assign newsletter_subtitle = 'layout.footer.newsletter_subtitle' | t %}
            {% if newsletter_subtitle.size > 0 %}
              <p>{{ newsletter_subtitle }}</p>
            {% endif %}

            {% if settings.footer-mailing-list-form-action.size > 0 %}
              <form action="{{ settings.footer-mailing-list-form-action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mailchimp-form validate" target="_blank">
                <input type="email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}" name="EMAIL" id="email-input" />
                <input type="submit" class="button prefix" value="{{ 'layout.footer.newsletter_button' | t }}" name="subscribe" id="email-submit" />
              </form>
            {% else %}
              {% form 'customer' %}
              {% if form.posted_successfully? %}
                <p class="success feedback">{{ 'layout.footer.newsletter_success_message' | t }}</p>
              {% endif %}
              {% if form.errors %}
              <p class="error feedback">
              {% for field in form.errors %}
                {{ field }} {{ form.errors.messages[field] }}
              {% endfor %}
              </p>
            {% endif %}
            <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter" />
            <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
            <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
            <input type="email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}" name="contact[email]" />
            <input type="submit" class="button prefix" value="{{ 'layout.footer.newsletter_button' | t }}" name="subscribe" id="email-submit" />

            {% if form.posted_successfully? or form.errors %}
            <script>window.location.hash = '#mailing-list-module';</script>
            {% endif %}
            {% endform %}
            {% endif %}
          {% endif %}

          <div class="social-follow">
            {% if settings.footer-facebook-follow-url.size > 0 %}<a title="Facebook" aria-hidden="true" target="_blank" class="glyph facebook" href="{{ settings.footer-facebook-follow-url }}"></a>{% endif %}
            {% if settings.footer-twitter-follow-url.size > 0 %}<a title="Twitter" aria-hidden="true" target="_blank" class="glyph twitter" href="{{ settings.footer-twitter-follow-url }}"></a>{% endif %}
            {% if settings.footer-instagram-follow-url.size > 0 %}<a title="Instagram" aria-hidden="true" target="_blank" class="glyph instagram" href="{{ settings.footer-instagram-follow-url }}"></a>{% endif %}
            {% if settings.footer-pinterest-follow-url.size > 0 %}<a title="Pinterest" aria-hidden="true" target="_blank" class="glyph pinterest" href="{{ settings.footer-pinterest-follow-url }}"></a>{% endif %}
            {% if settings.footer-tumblr-follow-url.size > 0 %}<a title="Tumblr" aria-hidden="true" target="_blank" class="glyph tumblr" href="{{ settings.footer-tumblr-follow-url }}"></a>{% endif %}
            {% if settings.footer-vimeo-follow-url.size > 0 %}<a title="Vimeo" aria-hidden="true" target="_blank" class="glyph vimeo" href="{{ settings.footer-vimeo-follow-url }}"></a>{% endif %}
            {% if settings.footer-youtube-follow-url.size > 0 %}<a title="Youtube" aria-hidden="true" target="_blank" class="glyph youtube" href="{{ settings.footer-youtube-follow-url }}"></a>{% endif %}
            {% if settings.footer-google-plus-follow-url.size > 0 %}<a title="Google Plus" aria-hidden="true" target="_blank" class="glyph googleplus" href="{{ settings.footer-google-plus-follow-url }}"></a>{% endif %}

            {% if settings.footer-rss-follow-url.size > 0 %}<a title="RSS" aria-hidden="true" target="_blank" class="glyph feed" href="{{ settings.footer-rss-follow-url }}"></a>{% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns">
        {% if settings.footer-payment-options-show %}
          <ul class="payment-options">
            {% if settings.footer-payment-amex %}<li aria-hidden="true" class="glyph amex"></li>{% endif %}
            {% if settings.footer-payment-diners %}<li aria-hidden="true" class="glyph diners"></li>{% endif %}
            {% if settings.footer-payment-discover %}<li aria-hidden="true" class="glyph discover"></li>{% endif %}
            {% if settings.footer-payment-visa %}<li aria-hidden="true" class="glyph visa"></li>{% endif %}
            {% if settings.footer-payment-mastercard %}<li aria-hidden="true" class="glyph mastercard"></li>{% endif %}
            {% if settings.footer-payment-skrill %}<li aria-hidden="true" class="glyph moneybookers"></li>{% endif %}
            {% if settings.footer-payment-stripe %}<li aria-hidden="true" class="glyph stripe"></li>{% endif %}
            {% if settings.footer-payment-switch %}<li aria-hidden="true" class="glyph switch"></li>{% endif %}
            {% if settings.footer-payment-paypal %}<li aria-hidden="true" class="glyph paypal"></li>{% endif %}
            {% if settings.footer-payment-googlewallet %}<li aria-hidden="true" class="glyph googlewallet"></li>{% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </footer>

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% if settings.show_multiple_currencies %}
    {{ '/services/javascripts/currencies.js' | script_tag }}
    {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
    {% include 'snippet-currencies' %}
  {% endif %}

</body>
</html>
